.input-group {
    margin: 5px 0 5px 0;
}

.alert {
    margin: 5px 0 5px 0;
}

.long {
    width: 100%;
}

.loader {
    display: none;
    margin: auto;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border-top: solid black 3px;
    animation: cir 1s linear infinite;
    -webkit-animation: cir 1s linear infinite;
}

@keyframes cir {
    100% {
        transform: rotate(360deg);
    }
}